*.pyc
*.lnk
*.pdf
*.rdf
*.n3
*.ttl
#*.txt
~*.*
test_data/*/*output*
test_data/*/*.rdf
test_data/*.rdf
*report*
*dbg*

trace_gen/*out*.*
trace_gen/tr_in.txt
trace_gen/alg_in.json

web_exp/static/quick-guide-syntax.files/*.xml
web_exp/static/quick-guide-syntax.files/*.thmx
