owlready2>=0.30	
transliterate

### Web server ###
Flask
waitress

### Java (11+, 14) is currently in use ###
psutil

### handling of Blockly's XML ###
xmltodict

### ASP support ###
# clyngor-with-clingo
