owlready2>=0.30	

### optional, for exporting owlready2 ontologies with rdflib:
# rdflib
ttlser

transliterate~=1.10.2

### Web server ###
Flask~=1.1.2
waitress

# connecting to java daemon process
thrift~=0.14.2

# unified translations
python-i18n[YAML]

### Java (11+, 14) is currently in use ###
psutil~=5.8.0

### handling of Blockly's XML ###
xmltodict~=0.12.0

### ASP support ###
# clyngor-with-clingo

### Export questions data to DOT format (GraphViz itself required, too) ###
# graphviz

fs~=2.4.14
PyYAML~=6.0
chevron~=0.14.0
# graphviz~=0.17
rdflib~=6.1.1
# Werkzeug~=1.0.1
