owlready2>=0.30	
transliterate

### Web server ###
Flask
waitress

# connecting to java daemon process
thrift

# unified translations
python-i18n[YAML]

### Java (11+, 14) is currently in use ###
psutil

### handling of Blockly's XML ###
xmltodict

### ASP support ###
# clyngor-with-clingo

### Export questions data to DOT format (GraphViz itself required, too) ###
# graphviz
