<head>
    <title>Тестирование API | AlgTutor</title>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type="text/javascript">
        console.log('Welcome to API test!')
        
        function send_to(url, textarea_id, result_id, escape_nl=false) {
            text = $('#' + textarea_id).val()
            // looking good text to JSON-readable
            text = text.trim()
            if (escape_nl) {
                text = text.replaceAll('\n', '\\n')
            }
            // console.log(text)
            data = JSON.parse(text)
            
            $.ajax({
                url: url, 
                method: 'post',
                dataType: 'json',
                contentType: "application/json",
                data: JSON.stringify(data),
                beforeSend: function(data){
                    processing_callback(result_id, "wait")
                },
                success: function(data){
                    processing_callback(result_id, JSON.stringify(data, null, 2))
                },
                error: function(data){
                    processing_callback(result_id, "fail")
                }
            });

        }
        
        function processing_callback(result_id, response="wait")
        {
            status_id = '#' + result_id
            if(response == "wait")
            {
                $(status_id).html("Please wait ...");
                return
            }
            if(response == "fail")
            {
                $(status_id).html("An ajax error occurred...)");
                return
            }
            
            // $(status_id).html("<pre>" + response + "</pre>");
            $(status_id).html("<plaintext>" + response);
        }
            
    $(document).ready(function(){
        
        // $("#send_creating_task").click(function(){
        $('button').click(function(){
            console.log(this)
            send_to(
                this.getAttribute('url'),
                this.getAttribute('payload_id'),
                this.getAttribute('result_id'),
                this.hasAttribute('escape_nl'),
            )
        })

    })

    </script>
</head>


<body>
<h1>API test</h1>
<noscript><h2>Please enable Javascript!</h2></noscript>
    
<h2> На странице преподавателя </h2>

<h3> Parse Algorithm as text </h3>

<details open>
    <summary>Request format</summary>
    Алгоритм в виде текста (ввод от пользователя) и код языка: рус/англ.
    <pre>
request to 'localhost:2020/creating_task' [method:POST] : json {
    algorithm_text:         "some multiline text"  // содержимое поля ввода алгоритма
    user_language:          "string"  // 'ru' или 'en'
}
    </pre>
</details>


<details open>
    <summary>Response format</summary>
    Запрос должен выполянться почти мгновенно. В ответ возвращается:
        <ol>
            <li> Алгоритм в виде текста (коррекция ввода от пользователя) и в виде JSON (понадобится для страницы студента, см. ниже),
            </li>
            <li> Трасса в виде JSON - массива актов, каждый из которых - также JSON-объект (см. ниже).
            </li>
        </ol>
    <pre>
response: json {
    "syntax_errors":          ["message string"],  // ошибка в алгоритме или пустой массив
    "algorithm_json":         {json}*,  // сохранить для создания задачи
    "algorithm_update_lines": {json},  // внести изменения в editor алгоритма (построчно, не сбив параллельный ввод пользователя) - ещё не используется, т.е. всегда пустой
    "new_algorithm_text":     "some multiline text",  // новый текст в editor алгоритма (если пуст, то заменять не нужно)
    "trace_json":             [array]*,  // отрендерить проверочную трассу
}
    </pre>
</details>
    
<details>
    <summary>* {algorithm_json} format</summary>
    Описание структуры алгоритма в JSON. (При сериализации на одни и те же объекты по разным ссылкам выводятся несколько раз, поэтому JSON может быть весьма большим)
    <pre>
  {
    "id":   int,          // уникальный ID, есть у любого узла в дереве алгоритма 
    "name": "algorithm",  // имя узла (фиксированное значение для этого вида узла)
    "type": "algorithm",  // тип узла - алгоритм
    "entry_point": {...}, // точка входа в алгоритм (копия узла "global_code") (; в дальнейшем может также указывать на тело функции main)
    "functions": [...],   // в дальнейшем - перечень объявленных функций (напр. main)
    "global_code": {      // узел глобального кода (т.е. всесь код вне функций)
      "id":   int,
      "name": "global_code", // имя следования
      "type": "sequence",    // тип узла - следование
      "body": [              // тело следования - список действий (произвольных узлов)
        <details style="margin-left: 4em;">
            <summary>// Примеры узлов алгоритма (examples of statements)</summary>
  // === Цикл ===
  {
    "id": 16,
    "name": "ожидание",    // имя цикла
    "type": "while_loop",  // тип узла - цикл ПОКА
    "cond": {              // условие цикла
      "id": 17,
      "name": "не_зелёный",  // имя условия
      "type": "expr"         // тип узла === Выражение === (пока допустим только для условий)
    },
    "body": {              // тело цикла
        // ... один узел (является следованием)
    }
  }
  
  // === Альтернатива (развилка, IF - ELSE-IF - ELSE) ===
  {
    "id": 18,
    "name": "по_цвету",    // имя альтернатива
    "type": "alternative", // тип узла - альтернатива c несколькими ветками
    "branches": [  // список веток развилки (if, [else-if]*, [else])
      {
        // первая ветка (if)
        "id": 19,
        "name": "if-цвет_красный", // имя ветки
        "type": "if",              // тип узла - ветка IF
        "cond": {              // условие ветки
          "id": 20,
          "name": "цвет_красный", // имя условия
          "type": "expr"          // тип узла - выражение
        },
        "body": [              // тело ветки
          // ... (список узлов - statement'ов)
          {
            "id": 21,
            "name": "ждать",
            "type": "stmt"     // тип узла === Простое действие === 
          }
        ]
      },
      {
        // опциональная вторая ветка (тип узла - else-if или else)
      }
      // и т.д.
    ]
  }

        </details>
      ]
    },
    "id2obj": {   // "индекс" для поиска узлов алгоритма по ID
      int: {... algorithm node ...},  // эти соответствия требуются на стороне Python при передаче алгоритма
      int: {... algorithm node ...},
      ...
    },
    "expr_values": {  // заданные преподавателем цепочки булевых величин для условий в алгоритме
      "не_зелёный": [  // имя выражения
        true,
        true,          // значения, которые оно последовательно принимает
        false
      ],
      "цвет_жёлтый": [
        false
      ],
      ...
    }
  }
    </pre>
</details>
    
<details>
    <summary>* [trace_json_array] format</summary>
    Описание структуры трассы в JSON. 
    <pre>
  [         // массив актов (трасса)
    ... ,
    {       // очередной акт
      "executes": 63,  // ID узла алгоритма, который выполняется этим актом
      "id": 104,       // ID самого акта
      "n": 1,          // номер исполения акта (1-й раз, 2-й раз, ...)
      "name": "программа", // имя (соответтвует имени узла алгоритма)
      "phase": "finished",  // вид акта "started"/"finished"/"performed"
      "value": bool,   // [optional] только для актов условий (type == 'expr') - результат "вычисления" выражения
      
        // (информация для визуализации акта)
      "as_string": "закончилась программа",  // строковое представление строки акта (без форматирования)
      "as_html": "&lt;span class="keyword"&gt;закончилась&lt;/span&gt; &lt;span class="program"&gt;программа&lt;/span&gt;",  // та же строка, форматированные в HTML токены
      "as_tags": [...],  // те же html-теги, но в виде JSON, для формирования html из них (см. формат html_tag'ов в <a href="https://github.com/den1s0v/c_owl/blob/e70ec8acce56b96a9242e8231472fd94808d6ed0/trace_gen/styling.py#L6">styling.py</a>)
      
        // (результаты проверки акта на рассуждателе - этих полей нет для страницы преподавателя, т.е. в response команды /creating_task)
      "is_valid": bool,  // true - акт корректен - сразу добавить в правильную трассу, иначе - false - не добавлять, и этот выбор затрётся следующим выбором акта студентом.
      "explanations": ["array", "of", "strings"], // перечень найденных ошибок для этого акта (пуст, если "is_valid" == true)
      
    },
    ...  // ещё акты
  ]
    </pre>
</details>
    
<details>
    <summary>Пример и тест API через $.ajax</summary>
    
    <p><button 
        id="send_creating_task" 
        url="/creating_task" 
        payload_id="payload_creating_task"
        result_id="result_creating_task"
        escape_nl
    >Протестировать /creating_task [POST]</button>
    , отправив следующий JSON <br>[Переводы строк <code>\n</code> в этом поле настоящие, для удобства чтения, но для перед использованием как JSON их нужно будет заэкранировать - явно вписать <code>\n</code>]:
    <p><textarea id="payload_creating_task" cols="80" rows="7" placeholder="JSON string">{"user_language": "ru", "algorithm_text": "пока не_зелёный -> истина,истина,ложь  // ожидание
    если цвет_красный -> истина,ложь  // по_цвету
        ждать
    иначе если цвет_жёлтый -> ложь
        приготовиться
"}
    </textarea></p>  <!-- { { some python code } } - шаблонизация в Flask -->
    Response:
    <div id="result_creating_task" style="background-color: #eeffff;"></div>
    End of response.
</details>
    
    
<h2> На странице ученика </h2>
<h3> Verify new trace act </h3>
<details open>
    <summary>Request format</summary>
    Алгоритм в виде JSON (сохранённый из результата <code>/creating_task</code>), ID элемента алгоритма, вид акта, предшествующий фрагмент трассы (список актов) и код языка: рус/англ.
    <pre>
request to 'localhost:2020/verify_trace_act' [method:POST] : json {
    user_language:          "string"  // 'ru' или 'en'
    algorithm_json:         {json},
    algorithm_element_id:   int,      // поле 'id' из кликнутого элемента алгоритма
    act_type:               "string", // начало ('started') или конец ('finished') - для составных, 'performed' - для простых (атомарных)
    existing_trace_json:    [trace_json_array]  // вся имеющаяся ПРАВИЛЬНАЯ трасса
}

response: json {
    trace_lines_json:       [trace_json_array*],  // строка как один элемент трассы - обычно одна, но может быть несколько строк сразу (например, автоматически добавлено "программа началась" при пустой трассе)
    processing_errors:      ["message string"],  // описание исключений, произошедших в процессе обработки запроса (пустой массив, если их не было); в нормальном режиме исключений быть не должно, в противном случае проблемы с заданием или с сервером.
<!-- ////!   is_trace_line_ok:       boolean,  // true, если всё хорошо, иначе false
////!   trace_errors:           ["message string"],  // ошибка в трассе с учётом указаного акта (пустой массив, если is_trace_line_ok == true) -->
}
    </pre>

<details>
    <summary>* Содержимое [trace_json_array] для одного элемента (акта) трассы</summary>
Cм. выше в описании к <code>/creating_task</code>, здесь повторено то же самое в основных чертах.
    <pre>
{
    "is_valid": bool,  // информация о корректности акта (если true, то сразу добавить в правильную трассу, иначе - false - этот выбор затрётся следующим выбором акта студентом) <!-- (null, если неизвестно, но этот вариант не должен попасть наружу, к вам) -->
    "executes": int,  // ID элемента алгоритма, который выполняется этим актом
    "phase":    "string",  // "started"/"finished"/"performed" (равен параметру запроса act_type)
    "value":    "string",  // [optional] результат вычисления выражения, если это условие цикла/развилки (может потребоваться на стороне Python)
    "id":       int,  // ID самого акта (может потребоваться на стороне Python)
    "as_string": "string",  // текстовый вид акта (одна строка) - plain text, без всякого оформления (например, 'condition цвет_жёлтый evaluated 1st time - false')
    "as_html": "string",
    "as_tags": {json_object_or_list},  // структура HTML в виде строк, массивов и вложенных объектов
    "explanations": ["string"],  // текстовое(-ые) пояснение(-ия) к ошибке(-ам) (строки в массиве, т.к. ошибок может быть найдено несколько)
}
    </pre>
</details>

</details>
    
<details>
    <summary>Пример и тест API через $.ajax</summary>
    
    <p><button 
        id="send_verify_trace_act" 
        url="/verify_trace_act" 
        payload_id="payload_verify_trace_act"
        result_id="result_verify_trace_act"
    >Test /verify_trace_act [POST]</button>
    with following JSON payload:
    <p><textarea id="payload_verify_trace_act" cols="80" rows="7">{"user_language": "ru", "algorithm_element_id": 17, "act_type": "performed", "existing_trace_json": [], "algorithm_json": {
        "entry_point": {
          "body": [
            {
              "body": {
                "body": [
                  {
                    "branches": [
                      {
                        "body": [
                          {
                            "id": 21,
                            "name": "ждать",
                            "type": "stmt"
                          }
                        ],
                        "cond": {
                          "id": 20,
                          "name": "цвет_красный",
                          "type": "expr"
                        },
                        "id": 19,
                        "name": "if-цвет_красный",
                        "type": "if"
                      },
                      {
                        "body": [
                          {
                            "id": 24,
                            "name": "приготовиться",
                            "type": "stmt"
                          }
                        ],
                        "cond": {
                          "id": 23,
                          "name": "цвет_жёлтый",
                          "type": "expr"
                        },
                        "id": 22,
                        "name": "elseif-цвет_жёлтый",
                        "type": "else-if"
                      }
                    ],
                    "id": 18,
                    "name": "по_цвету",
                    "type": "alternative"
                  }
                ],
                "id": 25,
                "name": "ожидание_loop_body",
                "type": "sequence"
              },
              "cond": {
                "id": 17,
                "name": "не_зелёный",
                "type": "expr"
              },
              "id": 16,
              "name": "ожидание",
              "type": "while_loop"
            }
          ],
          "id": 15,
          "name": "global_code",
          "type": "sequence"
        },
        "expr_values": {
          "не_зелёный": [
            true,
            true,
            false
          ],
          "цвет_жёлтый": [
            false
          ],
          "цвет_красный": [
            true,
            false
          ]
        },
        "functions": [],
        "global_code": {
          "body": [
            {
              "body": {
                "body": [
                  {
                    "branches": [
                      {
                        "body": [
                          {
                            "id": 21,
                            "name": "ждать",
                            "type": "stmt"
                          }
                        ],
                        "cond": {
                          "id": 20,
                          "name": "цвет_красный",
                          "type": "expr"
                        },
                        "id": 19,
                        "name": "if-цвет_красный",
                        "type": "if"
                      },
                      {
                        "body": [
                          {
                            "id": 24,
                            "name": "приготовиться",
                            "type": "stmt"
                          }
                        ],
                        "cond": {
                          "id": 23,
                          "name": "цвет_жёлтый",
                          "type": "expr"
                        },
                        "id": 22,
                        "name": "elseif-цвет_жёлтый",
                        "type": "else-if"
                      }
                    ],
                    "id": 18,
                    "name": "по_цвету",
                    "type": "alternative"
                  }
                ],
                "id": 25,
                "name": "ожидание_loop_body",
                "type": "sequence"
              },
              "cond": {
                "id": 17,
                "name": "не_зелёный",
                "type": "expr"
              },
              "id": 16,
              "name": "ожидание",
              "type": "while_loop"
            }
          ],
          "id": 15,
          "name": "global_code",
          "type": "sequence"
        },
        "id": 14,
        "id2obj": {
          "15": {
            "body": [
              {
                "body": {
                  "body": [
                    {
                      "branches": [
                        {
                          "body": [
                            {
                              "id": 21,
                              "name": "ждать",
                              "type": "stmt"
                            }
                          ],
                          "cond": {
                            "id": 20,
                            "name": "цвет_красный",
                            "type": "expr"
                          },
                          "id": 19,
                          "name": "if-цвет_красный",
                          "type": "if"
                        },
                        {
                          "body": [
                            {
                              "id": 24,
                              "name": "приготовиться",
                              "type": "stmt"
                            }
                          ],
                          "cond": {
                            "id": 23,
                            "name": "цвет_жёлтый",
                            "type": "expr"
                          },
                          "id": 22,
                          "name": "elseif-цвет_жёлтый",
                          "type": "else-if"
                        }
                      ],
                      "id": 18,
                      "name": "по_цвету",
                      "type": "alternative"
                    }
                  ],
                  "id": 25,
                  "name": "ожидание_loop_body",
                  "type": "sequence"
                },
                "cond": {
                  "id": 17,
                  "name": "не_зелёный",
                  "type": "expr"
                },
                "id": 16,
                "name": "ожидание",
                "type": "while_loop"
              }
            ],
            "id": 15,
            "name": "global_code",
            "type": "sequence"
          },
          "16": {
            "body": {
              "body": [
                {
                  "branches": [
                    {
                      "body": [
                        {
                          "id": 21,
                          "name": "ждать",
                          "type": "stmt"
                        }
                      ],
                      "cond": {
                        "id": 20,
                        "name": "цвет_красный",
                        "type": "expr"
                      },
                      "id": 19,
                      "name": "if-цвет_красный",
                      "type": "if"
                    },
                    {
                      "body": [
                        {
                          "id": 24,
                          "name": "приготовиться",
                          "type": "stmt"
                        }
                      ],
                      "cond": {
                        "id": 23,
                        "name": "цвет_жёлтый",
                        "type": "expr"
                      },
                      "id": 22,
                      "name": "elseif-цвет_жёлтый",
                      "type": "else-if"
                    }
                  ],
                  "id": 18,
                  "name": "по_цвету",
                  "type": "alternative"
                }
              ],
              "id": 25,
              "name": "ожидание_loop_body",
              "type": "sequence"
            },
            "cond": {
              "id": 17,
              "name": "не_зелёный",
              "type": "expr"
            },
            "id": 16,
            "name": "ожидание",
            "type": "while_loop"
          },
          "17": {
            "id": 17,
            "name": "не_зелёный",
            "type": "expr"
          },
          "18": {
            "branches": [
              {
                "body": [
                  {
                    "id": 21,
                    "name": "ждать",
                    "type": "stmt"
                  }
                ],
                "cond": {
                  "id": 20,
                  "name": "цвет_красный",
                  "type": "expr"
                },
                "id": 19,
                "name": "if-цвет_красный",
                "type": "if"
              },
              {
                "body": [
                  {
                    "id": 24,
                    "name": "приготовиться",
                    "type": "stmt"
                  }
                ],
                "cond": {
                  "id": 23,
                  "name": "цвет_жёлтый",
                  "type": "expr"
                },
                "id": 22,
                "name": "elseif-цвет_жёлтый",
                "type": "else-if"
              }
            ],
            "id": 18,
            "name": "по_цвету",
            "type": "alternative"
          },
          "19": {
            "body": [
              {
                "id": 21,
                "name": "ждать",
                "type": "stmt"
              }
            ],
            "cond": {
              "id": 20,
              "name": "цвет_красный",
              "type": "expr"
            },
            "id": 19,
            "name": "if-цвет_красный",
            "type": "if"
          },
          "20": {
            "id": 20,
            "name": "цвет_красный",
            "type": "expr"
          },
          "21": {
            "id": 21,
            "name": "ждать",
            "type": "stmt"
          },
          "22": {
            "body": [
              {
                "id": 24,
                "name": "приготовиться",
                "type": "stmt"
              }
            ],
            "cond": {
              "id": 23,
              "name": "цвет_жёлтый",
              "type": "expr"
            },
            "id": 22,
            "name": "elseif-цвет_жёлтый",
            "type": "else-if"
          },
          "23": {
            "id": 23,
            "name": "цвет_жёлтый",
            "type": "expr"
          },
          "24": {
            "id": 24,
            "name": "приготовиться",
            "type": "stmt"
          },
          "25": {
            "body": [
              {
                "branches": [
                  {
                    "body": [
                      {
                        "id": 21,
                        "name": "ждать",
                        "type": "stmt"
                      }
                    ],
                    "cond": {
                      "id": 20,
                      "name": "цвет_красный",
                      "type": "expr"
                    },
                    "id": 19,
                    "name": "if-цвет_красный",
                    "type": "if"
                  },
                  {
                    "body": [
                      {
                        "id": 24,
                        "name": "приготовиться",
                        "type": "stmt"
                      }
                    ],
                    "cond": {
                      "id": 23,
                      "name": "цвет_жёлтый",
                      "type": "expr"
                    },
                    "id": 22,
                    "name": "elseif-цвет_жёлтый",
                    "type": "else-if"
                  }
                ],
                "id": 18,
                "name": "по_цвету",
                "type": "alternative"
              }
            ],
            "id": 25,
            "name": "ожидание_loop_body",
            "type": "sequence"
          }
        },
        "name": "algorithm",
        "type": "algorithm"
  } }</textarea></p>
    Response:
    <div id="result_verify_trace_act" style="background-color: #eeffff;"></div>
    End of response.
</details>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</body>
