<head>
    <title>Тестирование API | AlgTutor</title>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type="text/javascript">
        console.log('Welcome to API test!')
        
        function send_to(url, textarea_id, result_id, escape_nl=false) {
            text = $('#' + textarea_id).val()
            // looking good text to JSON-readable
            text = text.trim()
            if (escape_nl) {
                text = text.replaceAll('\n', '\\n')
            }
            // console.log(text)
            data = JSON.parse(text)
            
            $.ajax({
                url: url, 
                method: 'post',
                dataType: 'json',
                contentType: "application/json",
                data: JSON.stringify(data),
                beforeSend: function(data){
                    processing_callback(result_id, "wait")
                },
                success: function(data){
                    processing_callback(result_id, JSON.stringify(data, null, 2))
                },
                error: function(data){
                    processing_callback(result_id, "fail")
                }
            });

        }
        
        function processing_callback(result_id, response="wait")
        {
            status_id = '#' + result_id
            if(response == "wait")
            {
                $(status_id).html("Please wait ...");
                return
            }
            if(response == "fail")
            {
                $(status_id).html("An ajax error occurred...)");
                return
            }
            
            $(status_id).html("<pre>" + response + "</pre>");
        }
            
    $(document).ready(function(){
        
        // $("#send_creating_task").click(function(){
        $('button').click(function(){
            console.log(this)
            send_to(
                this.getAttribute('url'),
                this.getAttribute('payload_id'),
                this.getAttribute('result_id'),
                this.hasAttribute('escape_nl'),
            )
        })

    })

    </script>
</head>


<body>
<h1>API test</h1>
<noscript><h2>Please enable Javascript!</h2></noscript>
    
<h2> На странице преподавателя </h2>

<h3> Parse Algorithm as text </h3>
    <pre>
request to 'localhost:2020/creating_task' [method:POST] : json {
    algorithm_text:         "some multiline text"  // содержимое поля ввода алгоритма
    user_language:          "string"  // 'ru' или 'en'
}

response: json {
    syntax_errors:          ["message string"],  // ошибка в алгоритме или пустой массив
    algorithm_json:         {json},  // сохранить для создания задачи
    algorithm_update_lines: {json},  // внести изменения в editor алгоритма (построчно, не сбив параллельный ввод пользователя) - ещё не используется, т.е. всегда пустой
    new_algorithm_text:     "some multiline text",  // новый текст в editor алгоритма (если пуст, то заменять не нужно)
    trace_json:             [array],  // отрендерить проверочную трассу
    </pre>
    
    <p><button 
        id="send_creating_task" 
        url="/creating_task" 
        payload_id="payload_creating_task"
        result_id="result_creating_task"
        escape_nl
    >Test /creating_task [POST]</button>
    with following JSON payload ['<code>\n</code>'s are expanded for readability, please escape them if copy&paste this as JSON]:
    <p><textarea id="payload_creating_task" cols="80" rows="7" placeholder="JSON string">{{ '''{"user_language": "ru", "algorithm_text": "пока не_зелёный -> истина,истина,ложь  // ожидание
    если цвет_красный -> истина,ложь  // по_цвету
        ждать
    иначе если цвет_жёлтый -> ложь
        приготовиться
"}'''  }}
    </textarea></p>  <!-- { { some python code } } - шаблонизация в Flask -->
    Response:
    <div id="result_creating_task" style="background-color: #eeffff;"></div>
    
    
<h2> На странице ученика </h2>
<h3> Verify new trace act </h3>
    <pre>
request to 'localhost:2020/verify_trace_act' [method:POST] : json {
    user_language:          "string"  // 'ru' или 'en'
    algorithm_json:         {json},
    algorithm_element_id:   int,      // поле 'id' из кликнутого элемента
    act_type:               "string"  // начало ('started') или конец ('finished') - для составных, 'performed' - для простых (атомарных)
    existing_trace_json:             [array],  // вся имеющаяся ПРАВИЛЬНАЯ трасса
}

response: json {
    trace_lines_json:       [array of {json}],  // строка как один элемент трассы - обычно одна, но может быть несколько строк сразу (автоматическое добавление)
    processing_errors:      ["message string"],  // описание исключений, произошедших в процессе обработки запроса (пустой массив, если их не было); в нормальном режиме исключений быть не должно, в противном случае проблемы с заданием или с сервером.
<!-- ////!   is_trace_line_ok:       boolean,  // true, если всё хорошо, иначе false
////!   trace_errors:           ["message string"],  // ошибка в трассе с учётом указаного акта (пустой массив, если is_trace_line_ok == true) -->
}

Содержимое {json} для одного элемента (акта) трассы в response:
{
    "is_valid": bool,  // информация о корректности акта (если true, то сразу добавить в правильную трассу, иначе - false - этот выбор затрётся следующим выбором акта студентом) <!-- (null, если неизвестно, но этот вариант не должен попасть наружу, к вам) -->
    "executes": int,  // ID элемента алгоритма, который выполняется этим актом
    "phase":    "string",  // "started"/"finished"/"performed" (равен параметру запроса act_type)
    "value":    "string",  // [optional] результат вычисления выражения, если это условие цикла/развилки (может потребоваться на стороне Python)
    "id":       int,  // ID самого акта (может потребоваться на стороне Python)
    "as_string": "string",  // текстовый вид акта (одна строка) - plain text, без всякого оформления (например, 'condition цвет_жёлтый evaluated 1st time - false')
    "-styled?-": {???},
    "-mistake_explanation?-": "string",  // текстовое пояснение к ошибке
}
    </pre>

    <p><button 
        id="send_verify_trace_act" 
        url="/verify_trace_act" 
        payload_id="payload_verify_trace_act"
        result_id="result_verify_trace_act"
    >Test /verify_trace_act [POST]</button>
    with following JSON payload:
    <p><textarea id="payload_verify_trace_act" cols="80" rows="7">{"user_language": "ru", "algorithm_element_id": 17, "act_type": "performed", "existing_trace_json": [], "algorithm_json": {
        "entry_point": {
          "body": [
            {
              "body": {
                "body": [
                  {
                    "branches": [
                      {
                        "body": [
                          {
                            "id": 21,
                            "name": "ждать",
                            "type": "stmt"
                          }
                        ],
                        "cond": {
                          "id": 20,
                          "name": "цвет_красный",
                          "type": "expr"
                        },
                        "id": 19,
                        "name": "if-цвет_красный",
                        "type": "if"
                      },
                      {
                        "body": [
                          {
                            "id": 24,
                            "name": "приготовиться",
                            "type": "stmt"
                          }
                        ],
                        "cond": {
                          "id": 23,
                          "name": "цвет_жёлтый",
                          "type": "expr"
                        },
                        "id": 22,
                        "name": "elseif-цвет_жёлтый",
                        "type": "else-if"
                      }
                    ],
                    "id": 18,
                    "name": "по_цвету",
                    "type": "alternative"
                  }
                ],
                "id": 25,
                "name": "ожидание_loop_body",
                "type": "sequence"
              },
              "cond": {
                "id": 17,
                "name": "не_зелёный",
                "type": "expr"
              },
              "id": 16,
              "name": "ожидание",
              "type": "while_loop"
            }
          ],
          "id": 15,
          "name": "global_code",
          "type": "sequence"
        },
        "expr_values": {
          "не_зелёный": [
            true,
            true,
            false
          ],
          "цвет_жёлтый": [
            false
          ],
          "цвет_красный": [
            true,
            false
          ]
        },
        "functions": [],
        "global_code": {
          "body": [
            {
              "body": {
                "body": [
                  {
                    "branches": [
                      {
                        "body": [
                          {
                            "id": 21,
                            "name": "ждать",
                            "type": "stmt"
                          }
                        ],
                        "cond": {
                          "id": 20,
                          "name": "цвет_красный",
                          "type": "expr"
                        },
                        "id": 19,
                        "name": "if-цвет_красный",
                        "type": "if"
                      },
                      {
                        "body": [
                          {
                            "id": 24,
                            "name": "приготовиться",
                            "type": "stmt"
                          }
                        ],
                        "cond": {
                          "id": 23,
                          "name": "цвет_жёлтый",
                          "type": "expr"
                        },
                        "id": 22,
                        "name": "elseif-цвет_жёлтый",
                        "type": "else-if"
                      }
                    ],
                    "id": 18,
                    "name": "по_цвету",
                    "type": "alternative"
                  }
                ],
                "id": 25,
                "name": "ожидание_loop_body",
                "type": "sequence"
              },
              "cond": {
                "id": 17,
                "name": "не_зелёный",
                "type": "expr"
              },
              "id": 16,
              "name": "ожидание",
              "type": "while_loop"
            }
          ],
          "id": 15,
          "name": "global_code",
          "type": "sequence"
        },
        "id": 14,
        "id2obj": {
          "15": {
            "body": [
              {
                "body": {
                  "body": [
                    {
                      "branches": [
                        {
                          "body": [
                            {
                              "id": 21,
                              "name": "ждать",
                              "type": "stmt"
                            }
                          ],
                          "cond": {
                            "id": 20,
                            "name": "цвет_красный",
                            "type": "expr"
                          },
                          "id": 19,
                          "name": "if-цвет_красный",
                          "type": "if"
                        },
                        {
                          "body": [
                            {
                              "id": 24,
                              "name": "приготовиться",
                              "type": "stmt"
                            }
                          ],
                          "cond": {
                            "id": 23,
                            "name": "цвет_жёлтый",
                            "type": "expr"
                          },
                          "id": 22,
                          "name": "elseif-цвет_жёлтый",
                          "type": "else-if"
                        }
                      ],
                      "id": 18,
                      "name": "по_цвету",
                      "type": "alternative"
                    }
                  ],
                  "id": 25,
                  "name": "ожидание_loop_body",
                  "type": "sequence"
                },
                "cond": {
                  "id": 17,
                  "name": "не_зелёный",
                  "type": "expr"
                },
                "id": 16,
                "name": "ожидание",
                "type": "while_loop"
              }
            ],
            "id": 15,
            "name": "global_code",
            "type": "sequence"
          },
          "16": {
            "body": {
              "body": [
                {
                  "branches": [
                    {
                      "body": [
                        {
                          "id": 21,
                          "name": "ждать",
                          "type": "stmt"
                        }
                      ],
                      "cond": {
                        "id": 20,
                        "name": "цвет_красный",
                        "type": "expr"
                      },
                      "id": 19,
                      "name": "if-цвет_красный",
                      "type": "if"
                    },
                    {
                      "body": [
                        {
                          "id": 24,
                          "name": "приготовиться",
                          "type": "stmt"
                        }
                      ],
                      "cond": {
                        "id": 23,
                        "name": "цвет_жёлтый",
                        "type": "expr"
                      },
                      "id": 22,
                      "name": "elseif-цвет_жёлтый",
                      "type": "else-if"
                    }
                  ],
                  "id": 18,
                  "name": "по_цвету",
                  "type": "alternative"
                }
              ],
              "id": 25,
              "name": "ожидание_loop_body",
              "type": "sequence"
            },
            "cond": {
              "id": 17,
              "name": "не_зелёный",
              "type": "expr"
            },
            "id": 16,
            "name": "ожидание",
            "type": "while_loop"
          },
          "17": {
            "id": 17,
            "name": "не_зелёный",
            "type": "expr"
          },
          "18": {
            "branches": [
              {
                "body": [
                  {
                    "id": 21,
                    "name": "ждать",
                    "type": "stmt"
                  }
                ],
                "cond": {
                  "id": 20,
                  "name": "цвет_красный",
                  "type": "expr"
                },
                "id": 19,
                "name": "if-цвет_красный",
                "type": "if"
              },
              {
                "body": [
                  {
                    "id": 24,
                    "name": "приготовиться",
                    "type": "stmt"
                  }
                ],
                "cond": {
                  "id": 23,
                  "name": "цвет_жёлтый",
                  "type": "expr"
                },
                "id": 22,
                "name": "elseif-цвет_жёлтый",
                "type": "else-if"
              }
            ],
            "id": 18,
            "name": "по_цвету",
            "type": "alternative"
          },
          "19": {
            "body": [
              {
                "id": 21,
                "name": "ждать",
                "type": "stmt"
              }
            ],
            "cond": {
              "id": 20,
              "name": "цвет_красный",
              "type": "expr"
            },
            "id": 19,
            "name": "if-цвет_красный",
            "type": "if"
          },
          "20": {
            "id": 20,
            "name": "цвет_красный",
            "type": "expr"
          },
          "21": {
            "id": 21,
            "name": "ждать",
            "type": "stmt"
          },
          "22": {
            "body": [
              {
                "id": 24,
                "name": "приготовиться",
                "type": "stmt"
              }
            ],
            "cond": {
              "id": 23,
              "name": "цвет_жёлтый",
              "type": "expr"
            },
            "id": 22,
            "name": "elseif-цвет_жёлтый",
            "type": "else-if"
          },
          "23": {
            "id": 23,
            "name": "цвет_жёлтый",
            "type": "expr"
          },
          "24": {
            "id": 24,
            "name": "приготовиться",
            "type": "stmt"
          },
          "25": {
            "body": [
              {
                "branches": [
                  {
                    "body": [
                      {
                        "id": 21,
                        "name": "ждать",
                        "type": "stmt"
                      }
                    ],
                    "cond": {
                      "id": 20,
                      "name": "цвет_красный",
                      "type": "expr"
                    },
                    "id": 19,
                    "name": "if-цвет_красный",
                    "type": "if"
                  },
                  {
                    "body": [
                      {
                        "id": 24,
                        "name": "приготовиться",
                        "type": "stmt"
                      }
                    ],
                    "cond": {
                      "id": 23,
                      "name": "цвет_жёлтый",
                      "type": "expr"
                    },
                    "id": 22,
                    "name": "elseif-цвет_жёлтый",
                    "type": "else-if"
                  }
                ],
                "id": 18,
                "name": "по_цвету",
                "type": "alternative"
              }
            ],
            "id": 25,
            "name": "ожидание_loop_body",
            "type": "sequence"
          }
        },
        "name": "algorithm",
        "type": "algorithm"
  } }</textarea></p>
    Response:
    <div id="result_verify_trace_act" style="background-color: #eeffff;"></div>
    
    
</body>
