<!DOCTYPE html>
<head>
<html>
  <meta charset="utf-8">
  <title>Algorithms with Blockly</title>

  <!-- inject Blockly: -->
  	<!-- use packaged snapshot (was valid on 27.02.2021) -->
  	<!-- The snapshot includes blockly, blocks, English locale. -->
  <!-- <script src="https://unpkg.com/blockly/blockly.min.js"></script> -->
  	<!-- or point to local files -->
  <script src="{{ url_for('static', filename='blockly/blockly_compressed.js') }}"></script>
  <script src="{{ url_for('static', filename='blockly/blocks_compressed.js') }}"></script>
  
  <!-- inject Blockly localization (EN/RU): pick one -->
  	<!-- With "unpkg.com/blockly/blockly.min.js" en.js is redudant here -->
  <!-- <script src="../../msg/js/en.js"></script> -->
  <!-- <script src="../../msg/js/ru.js"></script> -->
  {% if language == 'ru' %}
    <script src="{{ url_for('static', filename='blockly/ru.js') }}"></script>
  {% else %}
    <script src="{{ url_for('static', filename='blockly/en.js') }}"></script>
  {% endif %}

  <!-- Custom configuration for Blockly -->
  <script src="{{ url_for('static', filename='blockly/init_blockly.js') }}"></script>
  
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
  
  <style>
    html, body {
      height: 100%;
      margin: 0;
    }
    body {
      background-color: #fff;
      font-family: sans-serif;
      overflow: hidden;
    }
    h1 {
      font-weight: normal;
      font-size: 140%;
    }
    table {
      height: 100%;
      width: 100%;
    }
    #blocklyArea {
      height: 99%;
    }
  </style>
</head>
<body onload="body_onload()">
  <table>
    <colgroup>
       <col span="1" style="width: 70%;">
       <col span="1" style="width: 30%;">
    </colgroup>
    <tr>
      <td>
        <h1>Based on <a href="https://developers.google.com/blockly/">Blockly</a> 
        	&gt; <a href="https://github.com/google/blockly/blob/master/demos/resizable/overlay.html">Resizable Blockly Demo</a></h1>

        <!-- <p>&rarr; More info on <a href="https://developers.google.com/blockly/guides/configure/web/resizable">injecting resizable Blockly</a>&hellip;</p> -->
  {% if language == 'ru' %}
    Изменённые блоки Blockly находятся в палитре слева. You can switch to <a href="{{ url_for('blockly_test', lang='en') }}">English version</a>.
  {% else %}
        Modified standard blocks are used here. Вы можете переключиться на <a href="{{ url_for('blockly_test', lang='ru') }}">Русскую версию</a>.
  {% endif %}
  
  		<br/>
        <button onclick="export_xml_to_console()">Export XML to console</button>
        <button onclick="send_xml_to_endpoint()">Send XML to endpoint</button>
      </td>
      <td></td>
    </tr>
    <tr>
      <td id="blocklyArea">
      </td>
      <td>
		<style type="text/css" media="screen">

		#algorithmArea {
		  font-family: courier; font-size: 10pt;
		}


		span.string, span.atom { color: #f08; font-style: italic; font-weight: bold; }
		span.comment { color: #262; font-style: italic; line-height: 1em; }
		span.meta { color: #555; font-style: italic; line-height: 1em; }
		span.variable { color: #700; text-decoration: underline; }
		span.variable-2 { color: #b11; }
		span.struct { color: #07c; font-weight: bold; }
		span.number { color: #f00; font-weight: bold; }
		span.program { color: #f70; font-weight: bold; }
		span.function { color: #707; font-weight: bold; }
		span.action { color: #077; font-weight: bold; }
		span.qualifier { color: #555; }
		span.keyword { color: #00a; font-weight: bold; }
		span.builtin { color: #30a; }
		span.link { color: #762; }
		span.error { background-color: #fdd; }
		</style>

		<div id="algorithmArea"></div>
      </td>
    </tr>
  </table>

  <div id="blocklyDiv" style="position: absolute"></div>


  <!-- Палитра Blockly -->
  <xml xmlns="https://developers.google.com/blockly/xml" id="toolbox" style="display: none">
  <category name="Control">
    <block type="condition_with_values_block"></block>
    <!-- <block type="controls_if"></block> -->
    <block type="controls_named_if">
    	<value name="NAME">
          <shadow type="text_name_of_alternative"></shadow>
        </value>
    </block>
  </category>
  <category name="Loops">
    <!-- <block type="controls_whileUntil"></block> -->
    <block type="condition_with_values_block">
    	<field name="VALUES">1,1,(0)</field>
    </block>
    <block type="controls_named_whileUntil">
    	<value name="NAME">
          <shadow type="text_name_of_loop"></shadow>
        </value>
    </block>
    <block type="controls_named_doWhileUntil">
    	<value name="NAME">
          <shadow type="text_name_of_loop"></shadow>
        </value>
    </block>
<!--     <block type="controls_repeat_ext">
    	<value name="TIMES">
          <shadow type="math_number">
            <field name="NUM">10</field>
          </shadow>
        </value>
    </block>
    <block type="math_number">
      <field name="NUM">0</field>
    </block>
    <block type="text"></block> -->
  </category>
  <category name="Actions">
    <block type="action"></block>
    <block type="text_print">
		<value name="TEXT">
	      <shadow type="text">
	        <field name="TEXT">Wow</field>
	      </shadow>
	    </value>
    </block>
  </category>
  </xml>

  <script>
    var blocklyArea = document.getElementById('blocklyArea');
    var blocklyDiv = document.getElementById('blocklyDiv');
    var workspace = null;
    
    
    function body_onload() {
        // user config
        init_blockly_environment();
        
        
        workspace = Blockly.inject(blocklyDiv,
            {media: 'https://github.com/google/blockly/raw/master/media/',
             // toolbox: document.getElementById('toolbox')
             toolbox: get_toolbox_json()
         });
        var onresize = function(e) {
          // Compute the absolute coordinates and dimensions of blocklyArea.
          var element = blocklyArea;
          var x = 0;
          var y = 0;
          do {
            x += element.offsetLeft;
            y += element.offsetTop;
            element = element.offsetParent;
          } while (element);
          // Position blocklyDiv over blocklyArea.
          blocklyDiv.style.left = x + 'px';
          blocklyDiv.style.top = y + 'px';
          blocklyDiv.style.width = blocklyArea.offsetWidth + 'px';
          blocklyDiv.style.height = blocklyArea.offsetHeight + 'px';
          Blockly.svgResize(workspace);
        };
        window.addEventListener('resize', onresize, false);
        onresize();
        Blockly.svgResize(workspace);
        
        // user config
        setup_blockly_workspace(workspace);
    }    
    
    function export_xml_to_console() {
    	var xml = Blockly.Xml.workspaceToDom(workspace); 
    	// var xml_text = Blockly.Xml.domToText(xml);  // compact form
    	var xml_text = Blockly.Xml.domToPrettyText(xml);  // easy-readable form
    	console.log(xml_text);
    }

    function send_xml_to_endpoint() {
    	var xml = Blockly.Xml.workspaceToDom(workspace); 
    	// var xml_text = Blockly.Xml.domToText(xml);  // compact form
    	var xml_text = Blockly.Xml.domToPrettyText(xml);  // easy-readable form
    	// console.log(xml_text);
    	var data = {"user_language": "ru", "algorithm_text": xml_text}
    	
    	result_id = 0;
        $.ajax({
            url: "http://localhost:2020/creating_task", 
            method: 'post',
            dataType: 'json',
            contentType: "application/json",
            data: JSON.stringify(data),
            beforeSend: function(data){
                processing_callback(result_id, "wait")
            },
            success: function(data){
                processing_callback(result_id, JSON.stringify(data, null, 2))
            },
            error: function(data){
                processing_callback(result_id, "fail")
            }
        });
    }
	function processing_callback(result_id, response="wait")
	{
	    if(response == "wait")
	    {
	        console.log("Please wait ...");
	        return
	    }
	    if(response == "fail")
	    {
	        console.log("An ajax error occurred...)");
	        return
	    }
	    
	    // OK response
	    // console.log("<pre>" + response + "</pre>");
	    console.log("response.length: " + response.length);
	    response = JSON.parse(response)
	    if (response.algorithm_as_html) {
	    	$("#algorithmArea").html(response.algorithm_as_html)
	    } else {
	    	$("#algorithmArea").html(JSON.stringify(response.syntax_errors || response, null, 2))
	    }
	}
  </script>
</body>
</html>
