<!DOCTYPE html>
<head>
<html>
  <meta charset="utf-8">
  <title>Algorithms with Blockly</title>

  <!-- inject Blockly: -->
  	<!-- use packaged snapshot (was valid on 27.02.2021) -->
  	<!-- The snapshot includes blockly, blocks, English locale. -->
  <!-- <script src="https://unpkg.com/blockly/blockly.min.js"></script> -->
  	<!-- or point to local files -->
  <script src="{{ url_for('static', filename='blockly/blockly_compressed.js') }}"></script>
  <script src="{{ url_for('static', filename='blockly/blocks_compressed.js') }}"></script>

  <!-- https://semantic-ui.com/elements/icon.html#audio--video -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

  <!-- inject Blockly localization (EN/RU): pick one -->
  	<!-- With "unpkg.com/blockly/blockly.min.js" en.js is redudant here -->
  <!-- <script src="../../msg/js/en.js"></script> -->
  <!-- <script src="../../msg/js/ru.js"></script> -->
  {% if language == 'ru' %}
    <script src="{{ url_for('static', filename='blockly/ru.js') }}"></script>
  {% else %}
    <script src="{{ url_for('static', filename='blockly/en.js') }}"></script>
  {% endif %}

  <!-- Custom configuration for Blockly -->
  <script src="{{ url_for('static', filename='blockly/init_blockly.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>

<!-- Paper -->
<script type="text/javascript" src="/static/jquery.js"></script>
<script type="text/javascript" src="/static/paper/paper-full.min.js"></script>

<script type="text/paperscript" canvas="myCanvas" src="/static/paper/paper-canvas.js"> </script>
<script type="text/javascript" src="/static/paper/diagram.js"> </script>
<script type="text/javascript" src="/static/paper/activity-vis.js"> </script>
<!-- /Paper -->


  <style>
    html, body {
      height: 100%;
      margin: 0;
    }
    body {
      background-color: #fff;
      font-family: sans-serif;
      overflow: hidden;
    }
    h1 {
      font-weight: normal;
      font-size: 140%;
    }
    table {
      height: 100%;
      width: 100%;
    }
    #blocklyArea {
      height: 99%;
    }
  </style>
</head>
<body onload="body_onload()">
  <table>
    <colgroup>
       <col span="1" style="width: 50%;">
       <col span="1" style="width: 50%;">
    </colgroup>
    <tr>
      <td>
        <h1>Based on <a href="https://developers.google.com/blockly/">Blockly</a>
        	&gt; <a href="https://github.com/google/blockly/blob/master/demos/resizable/overlay.html">Resizable Blockly Demo</a></h1>

        <!-- <p>&rarr; More info on <a href="https://developers.google.com/blockly/guides/configure/web/resizable">injecting resizable Blockly</a>&hellip;</p> -->
  {% if language == 'ru' %}
    You can switch to <a href="{{ url_for('blockly_test', lang='en') }}">English version</a>. <a href="#" onclick="on_hide_blockly()">Скрыть/показать область Blockly</a>
  {% else %}
        Вы можете переключиться на <a href="{{ url_for('blockly_test', lang='ru') }}">Русскую версию</a>. <a href="#" onclick="on_hide_blockly()">Hide/show Blockly area</a>
  {% endif %}

      </td>
      <td>
<!--   		<br/>
        <button onclick="export_xml_to_console()">Export XML to console</button> -->
        <i class="play icon"></i>
        <button onclick="send_xml_to_endpoint()">Show Preview</button>

	    <select id="syntaxSelector">
	        <option value="" style="display:none">Choose the  syntax</option>
	        <option value="1">C</option>
	        <option value="2">Java</option>
	        <option value="2">Python</option>
	    </select>
      </td>
    </tr>
    <tr style="vertical-align:top">
      <td id="blocklyArea">

      		  <canvas id="myCanvas" class="canvas"></canvas>

      </td>
      <td>
		<style type="text/css" media="screen">

		#myCanvas{
			z-index:-1000;
			/*width:100%;*/
			/*height:100%;*/
			width:1000px;
			height:500px;
			position:absolute; /* change */
			left: 0;
			top: 0;
		}

		/* Подсветка алгоритма */

		#algorithmArea {
		  font-family: courier; font-size: 10pt;
		}


		span.string, span.atom { color: #f08; font-style: italic; font-weight: bold; }
		span.comment { color: #262; font-style: italic; line-height: 1em; }
		span.meta { color: #555; font-style: italic; line-height: 1em; }
		span.variable { color: #700; text-decoration: underline; }
		span.variable-2 { color: #b11; }
		span.struct { color: #07c; font-weight: bold; }
		span.number { color: #f00; font-weight: bold; }
		span.program { color: #f70; font-weight: bold; }
		span.function { color: #707; font-weight: bold; }
		span.action { color: #077; font-weight: bold; }
		span.qualifier { color: #555; }
		span.keyword { color: #00a; font-weight: bold; }
		span.builtin { color: #30a; }
		span.link { color: #762; }
		span.error { background-color: #fdd; }

		span:hover .alg_button {
		  cursor: pointer;
		  border: 1px dotted black;
		  margin: -1px;
		}

		.code-block {
		  border-left: 1px solid transparent;
		}
		.code-line:hover > .code-block {
		  border-left: 1px dotted green;
		}
		</style>

		<!-- https://stackoverflow.com/questions/31450435/semantic-ui-list-enable-scrolling-bar -->
		<div style="height: 100%; overflow: scroll;">
			<div id="algorithmArea" class="ui message"></div>
		</div>
      </td>
    </tr>
  </table>

  <div id="blocklyDiv" style="position: absolute"></div>


  <script>
    var blocklyArea = document.getElementById('blocklyArea');
    var blocklyDiv = document.getElementById('blocklyDiv');
    var workspace = null;
    var algorithm_json = null;
    var trace_json = null;

	var onresize = null;
    var hide_blockly = true;

    function on_hide_blockly() {
    	hide_blockly = !hide_blockly;
    	if (onresize) onresize();
    }


    function body_onload() {
        // user config
        init_blockly_environment();


        workspace = Blockly.inject(blocklyDiv,
            {media: 'https://github.com/google/blockly/raw/master/media/',
             // toolbox: document.getElementById('toolbox')
             toolbox: get_toolbox_json()
         });
        onresize = function(e) {
          // Compute the absolute coordinates and dimensions of blocklyArea.
          var element = blocklyArea;
          var x = 0;
          var y = 0;
          do {
            x += element.offsetLeft;
            y += element.offsetTop;
            element = element.offsetParent;
          } while (element);
          // Position blocklyDiv over blocklyArea.
          blocklyDiv.style.left = x + 'px';
          blocklyDiv.style.top = y + 'px';
          blocklyDiv.style.width = blocklyArea.offsetWidth + 'px';
          blocklyDiv.style.height = (hide_blockly? 1 : blocklyArea.offsetHeight) + 'px';
          Blockly.svgResize(workspace);
        };
        window.addEventListener('resize', onresize, false);
        onresize();
        Blockly.svgResize(workspace);

        // user config
        setup_blockly_workspace(workspace);

        xml_text = load_xml()
        if (xml_text)
        {
	        var xml = Blockly.Xml.textToDom(xml_text);
			Blockly.Xml.domToWorkspace(xml, workspace);
        }

	    // window.globals.paper_on_load = paper_on_load;
		console.log("paper is ready to load ...")
		paper_on_load();
    }

    // paper
    function paper_on_load() {
		// console.log("paper_on_load() ...")
        window.globals.paper_init();
        diagram_init();
		// console.log("paper_on_load() OK.")
    }
    // /paper



    function export_xml_to_console() {
    	var xml = Blockly.Xml.workspaceToDom(workspace);
    	// var xml_text = Blockly.Xml.domToText(xml);  // compact form
    	var xml_text = Blockly.Xml.domToPrettyText(xml);  // easy-readable form
    	console.log(xml_text);
    }

    function send_xml_to_endpoint() {
    	var xml = Blockly.Xml.workspaceToDom(workspace);
    	// var xml_text = Blockly.Xml.domToText(xml);  // compact form
    	var xml_text = Blockly.Xml.domToPrettyText(xml);  // easy-readable form
    	save_xml(xml_text)
    	// console.log(xml_text);

    	var syntax = $('#syntaxSelector option:selected').text();
    	// console.log(syntax);

    	var data = {"user_language": which_language(), "algorithm_text": xml_text,
    		syntax: syntax}

    	result_id = 0;
        $.ajax({
            url: "/creating_task",
            method: 'post',
            dataType: 'json',
            contentType: "application/json",
            data: JSON.stringify(data),
            beforeSend: function(data){
                processing_callback(result_id, "wait")
            },
            success: function(data){
                processing_callback(result_id, data)
            },
            error: function(data){
                processing_callback(result_id, "fail")
            }
        });
    }
	function processing_callback(result_id, response="wait")
	{
	    if(response == "wait")
	    {
	        console.log("Please wait ...");
	        return
	    }
	    if(response == "fail")
	    {
	        console.log("An ajax error occurred...)");
	        return
	    }

	    // OK response
	    // console.log("<pre>" + response + "</pre>");
	    console.log("response received. "); // + response.length);
	    // response = JSON.parse(response)

	    if (response.algorithm_json) {
		    algorithm_json = response.algorithm_json;
	    }
	    if (response.full_trace_json) // && response.processing_errors !== undefined)
	    {
		    trace_json = response.full_trace_json;
	    } else { trace_json = null; }
	    received_trace_json = response.full_trace_json || response.trace_json
	    if (response.algorithm_as_html && received_trace_json) {
	    	let html = response.algorithm_as_html;

	    	for (const act_json of received_trace_json) {
	    		html += '<br>' + act_json.as_html;
	    		if (act_json.is_final) {
	    			alert("Трасса выполнения программы построена верно!\nПоследний акт трассы:\n" + act_json.as_string)
	    		}
 				///
 				if (act_json.is_valid === false) {
		  			html += ' [<i>' + 'Error:'
		  			if (act_json.explanations)
			  			html += ['', ...act_json.explanations].join('<br>&diams; ')
		  			html += '</i>]'
		  		}
	    	}

	    	$("#algorithmArea").html(html)
	    	bindAlgorithmButtons();
	    	// decorate_algorithm_elements(response.algorithm_button_tips)

	    	// paper
	    	redraw_activity_diagram(algorithm_json, trace_json);
	    	// /paper

	    } else {
	    	algorithm_json = null;
	    	trace_json = null;
	    	$("#algorithmArea").html(JSON.stringify(response.syntax_errors || response.processing_errors || response, null, 2))
	    }
	}

	// function decorate_algorithm_elements(algorithm_button_tips)
	// {
	// 	for (var id_ in algorithm_button_tips) {
	// 		spans = $('.span[algorithm_element_id="' + id_ + '"]');
	// 		if (spans.length === 0)
	// 			continue;
	// 	}
	// 	// $('.slide-link[data-slide="0"]').addClass('active');
	// }

	function bindAlgorithmButtons(argument) {
	    $('.alg_button').click(on_algorithm_element_clicked);
    }
    // bindAlgorithmButtons();

	function on_algorithm_element_clicked(event) {
		// console.log({event, this: this});
		elem = (event && event.currentTarget) || this;
		act_type = elem.getAttribute('act_type');
		algorithm_element_id = parseInt(elem.getAttribute('algorithm_element_id'));
		console.log("clicked: ", {algorithm_element_id, act_type});

		// заменим кнопки на часики: hourglass half
		$('#algorithmArea .icon').removeClass("alg_button tooltip play stop").addClass("hourglass half");

		send_clicked_act_to_endpoint(algorithm_element_id, act_type);
	}
    function send_clicked_act_to_endpoint(algorithm_element_id, act_type) {
    	if (!algorithm_json) {  //// || !trace_json
    		console.warn("Empty algorithm_json or trace_json!");
    		return;
    	}

    	/// console.log(trace_json)

    	var data = {
    		user_language: which_language(),
    		algorithm_json: algorithm_json,
    		algorithm_element_id: algorithm_element_id,
    		act_type: act_type,
    		existing_trace_json: trace_json || [],
    		syntax: $('#syntaxSelector option:selected').text()

    	};

    	result_id = 0;
        $.ajax({
            url: "/verify_trace_act",
            method: 'post',
            dataType: 'json',
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function(data){
                processing_callback(result_id, data)
            },
            error: function(data){
                processing_callback(result_id, "fail")
            }
        });
    }


    // Local Storage
	function save_xml(xml)
	{
		localStorage.blockly_xml_sent = xml
	}
	// localStorage
	function load_xml()
	{
		str = localStorage.blockly_xml_sent
		return str || null;
	}
  </script>
</body>
</html>
