<head>
	<title>ISWC Demo</title>
	<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
	<h1>Algorithms Tutor Backend Test (ISWC Demo)</h1>
	
	<noscript><h2>Please enable Javascript!</h2></noscript>
	
	<button id="new" style="float: left; margin-right: 10px;">New</button>
	<!-- <div id="new-tip"><i>Press again to clear the inputs</i></div> -->
	<br>
	<!-- <input type="text" name="alg"> -->
	<p>Algorithm:<Br>
    <textarea id="alg" cols="120" rows="10"></textarea></p>
	
	<p>Trace:<Br>
    <textarea id="trace" cols="120" rows="20"></textarea></p>
	
	<button id="send">Send</button>
	<div id="status">Status: ready</div>
	
</body>
