<head>
	<title>ISWC Demo</title>
	<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
	
	<!-- CodeMirror -->
	<script src="{{ url_for('static', filename='codemirror.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='codemirror.css') }}">
	<!-- <script src="{{ url_for('static', filename='mode/javascript.js') }}"></script> -->
	<script src="{{ url_for('static', filename='mode/simple.js') }}"></script>
	
	<!-- CodeMirror style -->
	<link rel="stylesheet" href="{{ url_for('static', filename='theme/elegant.css') }}">
</head>

<body>
	<h1>Algorithms Tutor Backend Test (ISWC Demo)</h1>
	
	<noscript><h2>Please enable Javascript!</h2></noscript>
	
	<button id="new" style="float: left; margin-right: 10px;">New</button>
	<button id="load-correct" style="float: left; margin-right: 10px;">Load correct trace example</button>
	<button id="load-incorrect" style="float: left; margin-right: 10px;">Load incorrect trace example</button>
	<!-- <div id="new-tip"><i>Press again to clear the inputs</i></div> -->
	<br>
	<!-- <input type="text" name="alg"> -->
	<p>Algorithm:<Br>
    <textarea id="alg" cols="120" rows="7"></textarea></p>
	
	<p>Trace:<Br>
    <textarea id="trace" cols="120" rows="14"></textarea></p>
	
	<button id="send">Send</button>
	<div id="status">Status: ready</div>
	
</body>
